@model CI_Project.Entities.ViewModels.LoginModel
@{
    ViewData["Title"] = "Login Page";
    var userStatus = ViewBag.userStatus;
}

@section Styles {
    <link rel="Stylesheet" href="@Href("~/css/style.css")" />
}

<div class="loginPage-main-div d-flex">
    @if (userStatus != null)
    {
        <input hidden id="letUserLogin" value="false"/>
    }
    @Html.Partial("_authenticationCarousel")
    <div class="loginPage-form-div d-flex flex-column align-items-center justify-content-center">
        <form asp-action="Login" class="d-flex flex-column flex-grow-1 justify-content-center w-75">
            <div class="d-flex flex-column mb-4">
                <label asp-for="EmailId"></label>
                <input asp-for="EmailId" class="p-2" type="email" id="emailAddress" 
                       placeholder="email address">
                <span asp-validation-for="EmailId" class="text-danger fs-6"></span>
            </div>
            <div class="d-flex flex-column mb-4">
                <label asp-for="Password">Password</label>  
                <input asp-for="Password" class="p-2" type="password" id="emailAddress"  placeholder="password">
                <span asp-validation-for="Password" class="text-danger fs-6"></span>
            </div>
            <div class="d-flex flex-column align-items-center ">
                <button type="submit" class="login-btn w-100 p-2 rounded-5 border border-2 bg-white mb-3">Login</button>
                <a class="mb-3 text-black" asp-action="ForgotPassword">Lost your password?</a>
                <p class="d-flex d-sm-block align-items-center justify-content-center flex-column gap-2">
                    <span>
                        Don't have an
                        account?
                    </span> 
                    <a asp-action="Registration">
                        Create an
                        account
                    </a>
                </p>
            </div>
        </form>
        <a class="mb-5 text-black" href="">Privacy Policy</a>
    </div>
</div>

@section Scripts {
    <script>
        let letUserLogin = document.getElementById("letUserLogin").value;
        if (letUserLogin == "false") {
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Sorry you cant login!',
                showConfirmButton: false,
                timer: 3000
            })
        }
    </script>
}