@model CI_Project.Entities.ViewModels.RegisterationModel

@{
    ViewData["Title"] = "Registration Page";
}

@section Styles {
    <link rel="Stylesheet" href="@Href("~/css/style.css")" />
}

<div class="loginPage-main-div d-flex">
    @Html.Partial("_authenticationCarousel",Model.BannerImages);
    <div class="loginPage-form-div d-flex flex-column align-items-center justify-content-center">
        <form asp-action="Registration" class="d-flex flex-column flex-grow-1 justify-content-center w-75 pt-2 pt-md-0">
            <div></div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="FirstName">First Name </label>
                <input asp-for="FirstName" class="p-1" type="text" placeholder="evan">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="p-1" type="text" placeholder="donohue">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="EmailId">Email Address</label>
                <input asp-for="EmailId" class="p-1" type="email" placeholder="evan.donohue@gmail.com">
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="PhoneNo">Phone Number</label>
                <input asp-for="PhoneNo" class="p-1" type="tel" placeholder="8373828928">
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="p-1" type="password" placeholder="**********">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-4 mb-md-3">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="p-1" type="password" placeholder="**********">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column align-items-center ">
                <button type="submit" class="login-btn w-100 p-1 rounded-5 border border-2 bg-white mb-3">Register</button>
                <a class="mb-3 text-black" asp-action="ForgotPassword">Lost your password?</a>
                <p class="d-flex d-sm-block align-items-center justify-content-center flex-column gap-2">
                    <span>Already Registered?</span> 
                    <a href="">
                        @Html.ActionLink("Login Now","login","Authentication")
                    </a>
                </p>
            </div>
        </form>
        <a class="mb-5 text-black fs-6" href="">Privacy Policy</a>
    </div>
</div>
