@model CI_Project.Entities.ViewModels.CmsModel
@{
	ViewData["Title"] = "Volunteering Mission Timesheet Page";
	var userId = Context.Session.GetString("UserId");
	var fullName = Context.Session.GetString("FullName");
}

@section Styles {
	<link rel="Stylesheet" href="@Href("~/css/story.css")" />
}

<input hidden id="userId" value="@userId" />

<main class="position-relative">
	<header id="header" class="border-2 border-bottom ci-page-header bg-white w-100 z-3"
			style="background-color: transparent;min-width: max-content;">
		<partial name="_Navbar"></partial>
	</header>

	<div id="scrollable-area" class="overflow-y-scroll">

		<div class="container mt-5" style="max-width:var(--max-width);">
			<div class="border-bottom border-2 mb-3">
				<h4 class="border-bottom border-dark width-max-conatent m-0 pb-3 pe-2">@Model.Title</h4>
			</div>
			<div>
				@Html.Raw(Model.Description)
			</div>
		</div>

	</div>

	<partial name="_Footer"></partial>
</main>

@section Scripts{
	<script src="~/js/timesheet.js"></script>
	<script src="~/js/tiny.js"></script>
	<script src="~/js/headerSidebar.js"></script>
	<script src="~/js/scrolable.js"></script>
}