:root {
    --light-orange: #f88634;
    --dark-gray: #414141;
    --light-grey: #e8e8e8;
    --code-color: darkred;
    --code-bg-color: #f6f6f6;
    --code-font-size: 14px;
    --code-line-height: 1.4;
    --scroll-bar-color: #c5c5c5;
    --scroll-bar-bg-color: #f6f6f6;
}

#notificationCounterDiv {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 10px;
    background-color: var(--light-orange);
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 1px solid orange;
}



#notificationDiv {
    z-index: 100;
    display: block;
    position: absolute;
    top: 45px;
    right: 5px !important;
    height: 80vh;
    background-color: white !important;
    right: 60px;
    width: 90vw !important;
}



#notification-overlay-div {
    display: block;
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    z-index: 50;
}

.notification-container {
    height: calc(100% - 50px) !important;
    overflow-y: scroll;
}

.notification {
    font-size: .82rem;
    max-height: 100px;
}

#notificationHeader {
    height: 60px;
}

.notification-logo > img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: cover;
}

.read-notification {
    height: 12px !important;
    width: 12px !important;
    cursor: pointer !important;
    min-width: max-content !important;
}

.unread-notification {
    background-color: var(--light-orange);
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    cursor: pointer !important;
    min-width: max-content !important;
    display: flex;
    flex-shrink: 0 !important;
}

.min-width-max-content {
    min-width: max-content !important;
}


/*--------------- notification setting -------------*/
.notification-setting-title-div {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.3rem !important;
    background-color: var(--light-grey);
}

#notificationSettingsContainerDiv {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

#notificationSettingsTogglerDiv {
    top: 55px;
    left: 5px;
    position: absolute;
    height: 50%;
    background-color: hsl(0deg 0% 98%) !important;
    width: 90%;
    z-index: 2;
}

/*
::-webkit-scrollbar {
    width: 8px !important;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}*/

#notificationSettingsOverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height: calc(100% - 50px);
    width: 100%;
}

@media only screen and (min-width:768px) {
    #notificationDiv {
        right: 180px !important;
        width: 60vw !important;
    }

    .notification {
        font-size: 1rem;
        max-height: 90px !important;
    }

    .notification-logo > img {
        height: 60px;
        width: 60px;
    }

    #notificationSettingsTogglerDiv {
        width: 80%;
    }
}

@media only screen and (min-width:992px) {
    #notificationDiv {
        width: 40vw !important;
    }
}
