@model CI_Project.Entities.ViewModels.StoryListingModel
@{
	ViewData["Title"] = "StoryListing Page";
}

@section Styles {
	<link rel="Stylesheet" href="@Href("~/css/story.css")" />
}


<main class="position-relative">
	<header id="header" class="ci-page-header bg-white w-100 z-3"
			style="background-color: transparent;min-width: max-content;">

		<partial name="_Navbar"></partial>
		

	</header>

	<div id="scrollable-area" class="overflow-y-scroll">

		<div id="story-banner-div" class="w-100 mb-4 position-relative">

			<img id="banner-image" src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
				 alt="banner-image">

			<div id="share-your-story-div"
				 class="position-absolute top-0 start-0 p-0 m-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
				<div class="w-50 text-center">
					<p class="text-white">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem esse,
						error consectetur
						labore
						aliquam deleniti blanditiis? Ducimus natus excepturi quidem quasi, architecto porro pariatur
						adipisci sint quia enim iusto consequatur!
					</p>
				</div>
				<div>
					<a href="@Url.Action("ShareStory","StoryListing",new { userId = Model.User?.UserId })" class="p-2 px-4 border border-2 text-decoration-none rounded-5 bg-transparent text-white border-white">
						Share your Story <img src="~/images/right-arrow.png" alt="right-arrow">
					</a>
				</div>
			</div>
		</div>

		<div id="story-cards-div" class="mx-auto">
		</div>
	</div>

	<partial name="_Navbar"></partial>
	<partial name="_Footer"></partial>
</main>

@section Scripts{
	<script>
		let currPage = 1;
		let pageSize = 1;

		$(document).ready(() => {
			loadAllStories();
		});

		function loadAllStories() {
			$.ajax({
				url: "/StoryListing/getAllStories",
				method: "GET",
				dataType: "html",
				data: { "pageNo": currPage, "pageSize": pageSize },
				success: (data) => {
					$('#story-cards-div').html('');
					$('#story-cards-div').html(data);
					pageNumbersEventListner();
				},
				failure: (error) => {

				}

			});
		}

		function pageNumbersEventListner() {
			const doublePrevButton = document.getElementById("double-prev-button");
			const prevButton = document.getElementById("prev-button");
			const paginationNumbers = document.querySelectorAll("#pagination-numbers > li");
			const nextButton = document.getElementById("next-button");
			const doubleNextButton = document.getElementById("double-next-button");
			let pageNums = [];
			for (let i = 1; i <= paginationNumbers.length; i++) {
				pageNums.push(i);
			}
			$(`#page-${currPage}`).addClass('page-link-active');
			$(`#page-${currPage} > span`).addClass('page-link-active');

			$('.pageCounters').on('click', function () {
				currPage = +$(this).children(0).text();
				console.log(currPage);
				let pageToColorId = "#page-" + currPage;
				loadAllStories();
			});

			if (currPage == pageNums[0]) {
				doublePrevButton.style.display = "none";
				prevButton.style.display = "none";
			}
			if (currPage == pageNums[pageNums.length - 1]) {
				nextButton.style.display = "none";
				doubleNextButton.style.display = "none";
			}

			if (currPage == pageNums[pageNums.length - 2]) {
				doubleNextButton.style.display = "none";
			}
			if (currPage == 2) {
				doublePrevButton.style.display = "none";
			}
			$('#double-prev-button').on('click', function () {
				currPage = 1;
				loadAllStories();
			});

			$('#next-button').on('click', function () {
				currPage = currPage + 1;
				loadAllStories();
			});

			$('#prev-button').on('click', function () {
				currPage = currPage - 1;
				loadAllStories();
			});

			$('#double-next-button').on('click', function () {
				currPage = pageNums[pageNums.length - 1];
				loadAllStories();
			});
		}
	</script>
	<script src="~/js/headerSidebar.js"></script>
	<script src="~/js/scrolable.js"></script>
}