@model CI_Project.Entities.ViewModels.ChangePasswordModel
@{
	var userId = Context.Session.GetString("UserId");
}
<div id="changePasswordModal" class="modal" tabindex="-1">

	<div class="modal-dialog  modal-dialog-scrollable ">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<h5 class="modal-title">Change Your Password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<form id="changePasswordForm" method="post">
				<div class="modal-body d-flex flex-column">
					<input id="oldPassword" asp-for="OldPassword" class="p-2 rounded-3 border border-2" type="password" placeholder="Enter Old Password" />
					<span class="text-danger" id="spanOldPassword" asp-validation-for="OldPassword"></span>
					<input id="newPassword" asp-for="NewPassword" class="p-2 rounded-3 border border-2 mt-3" type="password" placeholder="Enter New Password" />
					<span class="text-danger" asp-validation-for="NewPassword"></span>
					<input id="confirmPassword" asp-for="ConfirmPassword" class="p-2 rounded-3 border border-2 mt-3" type="password" placeholder="Enter Confirm Password" />
					<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
					<input hidden asp-for="UserId" value="@userId" />
				</div>

				<div class="modal-footer border-top-0 d-flex justify-content-end">
					<button type="button" class="bg-transparent border border-2 border-danger text-danger rounded-pill py-2 px-3" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="bg-transparent border border-2 border-warning text-warning rounded-pill py-2 px-3">Change Password</button>
				</div>
			</form>
		</div>
	</div>
</div>

<partial name="_ValidationScriptsPartial"></partial>