@model CI_Project.Entities.ViewModels.SkillModel

<div class="border-bottom border-2">
	<span class="heading-2 text-decoration-underline" style="text-underline-offset:10px;">Add Skill</span>
</div>

<form id="editSkillForm" class="mt-4 px-3">
	<input hidden asp-for="SkillId" />
	<div class="row">
		<div class="col-12 col-sm-6">
			<label class="p-0 m-0">Name</label>
			<input asp-for="SkillName" type="text" class="p-2 rounded-3 border border-2 w-100" />
			<span class="test-danger" asp-validation-for="SkillName"></span>
		</div>

		@if (Model.isSkillInUse == false)
		{
			<div class="col-12 col-sm-6">
				<label class="p-0 m-0">Status</label>
				<select asp-for="Status" class="p-2 rounded-3 border border-2 w-100">
					<option value="1">Active</option>
					<option value="0">In-Active</option>
				</select>
				<span class="test-danger" asp-validation-for="Status"></span>
			</div>
		}
	</div>
	<div class="d-flex align-items-center justify-content-end mt-4">
		<button type="button" id="editSkillCancelBtn" class="btn btn-outline-danger btn-lg rounded-pill me-3">Cancel</button>
		<button type="submit" class="btn btn-outline-warning btn-lg rounded-pill">Save</button>
	</div>
</form>

<partial name="_ValidationScriptsPartial"></partial>