<footer id="footer" class=" bg-white">
	<div class="font-16 mx-auto h-100 w-100 d-flex align-items-center " style="max-width:var(--max-width)">
			<a asp-action="PrivacyPolicy" asp-controller="PrivacyPolicy" class="text-decoration-none text-dark p-2">
				Privacy
				Policy
			</a>
		</div>
	</footer>