<footer id="footer" class=" bg-white">
		<div class="mx-auto h-100 w-100 d-flex align-items-center " style="max-width:var(--max-width)">
			<a href="./privacy.html" class="text-decoration-none text-dark p-2">
				Privacy
				Policy
			</a>
		</div>
	</footer>